.header {
    background-color: #000000;
}

.logo {
    margin: 0;
    font-family: "Amstrong";
}

.row-header {
    padding: 25px 15px 25px 40px;
    color: white;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.col-md-6 input {
    width: 42vh;
    height: 32px;
    outline: none;
    border: none;
    padding: 1px 10px;
    font-size: small;
    border-radius: 8px;
}

.searchButton {
    width: 40px;
    height: 32px;
    border: 1px solid #ffffff;
    background: #0e1fb9;
    text-align: center;
    color: rgb(255, 255, 255);
    outline: none;
    font-size: 20px;
    border: none;
    margin-left: -34px;
    border-radius: 0px 8px 8px 0px;
    z-index: 1;
}

.searchButton:hover {
    background: #000000;
    color: #ffffff;
}

.icons {
    margin-top: 2px;
}

.fa-heart {
    margin-right: 10px;
}

.h5, .h4 {
    margin-bottom: 0;
}

.container-fluid {
    background-color: #ffffff;
}

.fa-home {
    border: none;
    outline: none;
}

.navbar-light li {
    outline: none;
    list-style: none;
}

.fa-home, .nav-item, .h5,
.fa-heart, .fa-shopping-cart,
.searchButton {
    cursor: pointer;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
}

.footer footer {
    background-color: rgb(223, 223, 223);
    margin-top: 30px;
    padding: 20px 5px 10px 5px;
}

.footer span {
    font-size: x-small;
}

.footer h6 {
    font-size: medium;
}

.carousel-caption {
    color: #000000;
}

.dropdown-menu .item-1 {
    cursor: text;
}
