<div class="header">
    <div class="container">
        <div class="row row-header">
            <div class="col-md-3 h1 logo d-flex align-items-center justify-content-center">
                Vanskap
            </div>
            <div class="col-md-6 search d-flex align-items-center justify-content-center">
                <input type="search" placeholder="O que você deseja?" maxlength="100">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <div class="col-md-1 login h5 d-flex align-items-center justify-content-center">
                Entrar
            </div>
            <div class="col-md-2 icons d-flex align-items-center justify-content-center">
                <i class="fas fa-heart"></i>
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </div>
</div>

<div class="menu">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" [routerLink]="['']">
                <i class="fas fa-home"></i>
            </a>
            <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#my-navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="my-navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdownSite" data-toggle="dropdown">
                            Masculino
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" [routerLink]="['/masculino/camisetas']">Camisetas</a>
                            <a class="dropdown-item">Shorts</a>
                            <a class="dropdown-item">Camisas de Time</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdownSite" data-toggle="dropdown">
                            Feminino
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item">Camisetas</a>
                            <a class="dropdown-item">Shorts</a>
                            <a class="dropdown-item">Camisas de Time</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdownSite" data-toggle="dropdown">
                            Infantil
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item">Camisetas</a>
                            <a class="dropdown-item">Shorts</a>
                            <a class="dropdown-item">Camisas de Time</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<router-outlet></router-outlet>

<div class="footer" style="z-index: 2;">
    <footer class="text-center text-muted">
        <span>COPYRIGHT &copy;2021</span>
        <h5 style="font-family: Amstrong;">Vanskap || Outlet</h5>
    </footer>
</div>