<div class="content-masc-list">
    <div class="h2 text-left">
        Camisetas Masculinas
    </div>

    <div class="h6 text-left">
        Mostrando: 1 - 40 de 100 resultados
    </div>

    <div class="other">
        <button class="new-camiseta" [routerLink]="['/masculino/camisetas/nova']">
            + Camiseta
        </button>
    </div>

    <div class="row" >
        <div class="col-sm-4" *ngFor="let camiseta of camisetas">
            <div class="card">
                <div class="card-body text-center">
                    <img src="http://localhost:8080/images/{{camiseta.imageUrl}}" class="card-img-top"
                        alt="Camiseta Imagem" style="height: 250px; width: 210px;"/>
                    <h5 class="card-tittle">{{ camiseta.nome }} {{ camiseta.marca }}</h5>
                    <h5 class="card-text"><b>R$ {{ camiseta.valor }}</b></h5>

                    <button class="btn-edit" matTooltip="Alterar" matTooltipPosition="left" matTooltipHideDelay="500"
                        [routerLink]="['/masculino/camisetas/alterar', camiseta.id]">
                        <i class="fas fa-pencil-alt"></i>
                    </button>

                    <button class="btn-delete-2" matTooltip="Excluir" matTooltipPosition="right"
                        matTooltipHideDelay="500" (click)="openModal()"><i class="far fa-trash-alt"></i>
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>