<div class="content-masc-list">
    <div class="h2 text-left">
        Camisetas Masculinas
    </div>

    <div class="h6 text-left">
        Mostrando: 1 - 40 de 100 resultados
    </div>

    <div class="other">
        <button class="new-camiseta" [routerLink]="['/masculino/camisetas/nova']">
            + Camiseta
        </button>
    </div>

    <div class="row cards-col ">
        <div class="col" *ngFor="let camiseta of camisetas">
            <div class="card-body text-center">
                <img [src]="'http://localhost:8080/images/' + camiseta.image" class="card-img-top " alt="Camiseta Imagem" style="width: 16rem;" />
                <h5 class="card-tittle">{{ camiseta.nome }}</h5>
                <h5 class="card-text"><b>R$ {{ camiseta.valor }}</b></h5>
                <button class="btn-edit" data-toggle="tooltip" data-placement="left" title="Alterar"
                    [routerLink]="['/masculino/camisetas/alterar', camiseta.id]">
                    <i class="fas fa-pencil-alt"></i>
                </button>
                <!-- Button trigger modal -->
                <button type="button" class="btn-delete" tooltip data-toggle="modal" data-target="#staticBackdrop"
                    data-placement="top" title="Excluir">
                    <i class="far fa-trash-alt"></i>
                </button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Você deseja realmente excluir essa
                                camiseta?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <b> Ao clicar em excluir, a camiseta será excluída do seu banco de dados.</b>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
                            <button type="button" class="btn-delete-2" data-dismiss="modal"
                                (click)="deleteById(camiseta.id)">Excluir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>