.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    color: white;
    background-color: rgb(46, 126, 231);
    padding: 15px;
    text-align: left;
}


.main {
    width: 100%;
    height: 100%;
    display: flex;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 25px 30px;
}



footer {
    width: 100%;
    background-color: rgb(46, 126, 231);
    text-align: center;
    font-style: italic;
    color: white;
    padding: 20px;
}
