.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    color: white;
    background-color: rgb(37, 37, 37);
    padding: 15px;
    text-align: left;
    z-index: 2;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    margin-bottom: 100px;
}

.menu {
    background: rgb(255, 255, 255);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position: fixed;
    top: 80px;
    left: 25px;
    z-index: 1;
}

.hamburguer {
    position: relative;
    display: block;
    background: #000;
    width: 24px;
    height: 2px;
    top: 21px;
    left: 11px;
    transition: 0.5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
    background: #000;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.hamburguer:before {
    top: -10px;
}

.hamburguer::after {
    bottom: -10px;
}

input {
    display: none;
}

input:checked~label .hamburguer {
    transform: rotate(45deg);
}

input:checked~label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}

input:checked~label .hamburguer:after {
    transform: rotate(90deg);
    top: 0;
}

.barra {
    background-color: rgb(37, 37, 37);
    height: 100%;
    width: 300px;
    position: fixed;
    padding-top: 80px;
    top: 0px;
    transition: all .3s linear;
    left: -300px;
}

#check:checked~.barra {
    transform: translateX(300px);
}

nav {
    margin-top: 70px;
    height: 100%;
}

li {
    outline: none;
}

nav a {
    padding: 15px 20px;
    width: 100%;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(221, 221, 221);
    color: rgb(0, 0, 0);
    padding-left: 50px;
    transition: 0.8s;
}

nav a:not(:hover) {
    background-color: rgb(37, 37, 37);
    color: rgb(255, 255, 255);
    transition: 0.5s;
}  

.content {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 25px 20px 25px 320px;
}

footer {
    width: 100%;
    background-color: rgb(37, 37, 37);
    text-align: center;
    font-style: italic;
    color: white;
    padding: 20px;
    z-index: 1;
}
