<div class="header">
    <div class="container">
        <div class="row">
            <div class="col text-center mr-0 h4" style="margin-right: 800px;">
                Vanskap
            </div>
            <div class="col search ml-0">
                <input type="search" placeholder="O que você deseja?">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                 </button>
            </div>
            <div class="col-sm login h5">
                Entrar
            </div>
            <div class="col">
                <i class="fas fa-heart"></i>
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </div>
</div>

<div class="menu">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand">
                <i class="fas fa-home"></i>
            </a>
            <div class="collapse navbar-collapse" id="my-navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdownSite" data-toggle="dropdown">
                            Masculino
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item">Action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item">Camisetas</a>
                            <a class="dropdown-item">Shorts</a>
                            <a class="dropdown-item">Camisas de Time</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            Feminino
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            Infantil
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>