<div class="container">
    <header class="header">
        <h1>SHOP</h1>
    </header>

    <main class="main"> 
        <nav>
            <ul>
                <!-- <li [routerLink]="['']"><a>Dashboard</a></li>
                <li [routerLink]="['/Camisetas']"><a>Camisetas</a></li> -->
            </ul>
        </nav>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </main>
    <footer class="footer">
        <span>&copy; Tales Víctor</span>
    </footer>

</div>