<div class="containerImage m-auto">
  <img [src]="urlImage" id="preview-image" width="250" height="250"/>
</div>
<form class="form" [formGroup]="camisetasMasculinasForm">
    <div class="form-row">
      <div class="form-group col-md-12 image">
        <app-field-validation-container [required]="true">  
          <input
          input
          type="file"
          class="form-control"
          (change)="onFileChange($event)"
          formControlName="imageUrl"
          />
        </app-field-validation-container>
      </div>

      <div class="form-group col-md-6">
        <app-field-validation-container [required]="true">  
          <label label> Nome </label>
          <input
          input
          type="text"
          maxlength="120"
          class="form-control"
          placeholder="Nome da Camiseta"
          formControlName="nome"
          />
        </app-field-validation-container>
      </div>

      <div class="form-group col-md-6">
        <app-field-validation-container [required]="true">
          <label label> Marca </label>
          <input
          input
          type="text"
          class="form-control"
          maxlength="40"
          placeholder="Nike, Adidas,etc..."
          formControlName="marca"
          />
        </app-field-validation-container>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <app-field-validation-container [required]="true">
          <label label> Tamanho </label>
          <select
          input
          class="form-control"
          formControlName="tamanho"  
          >
            <option [selected]="true" disabled>Selecione um tamanho</option>
            <option>P</option>
            <option>PP</option>
            <option>M</option>
            <option>G</option>
            <option>GG</option>
            <option>XG</option>
            <option>XGG</option>
          </select>
        </app-field-validation-container>
      </div>

      <div class="form-group col-md-6">
        <app-field-validation-container [required]="true">
          <label label> Valor </label>
          <input
          input
          type="text" 
          class="form-control"
          placeholder="R$ 100,00"
          maxlength="13"
          formControlName="valor"
          (input)="justNumbers($event)"
          />
        </app-field-validation-container>
      </div>
    </div>

    <div class="form-group">
      <p>É oferta?</p>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="sim" checked>
        <label class="form-check-label" for="inlineRadio1">Sim</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="não">
        <label class="form-check-label" for="inlineRadio2">Não</label>
      </div>
    </div>

    <div class="form-row">
      <div class="mb-3 col-md-12">
        <label> Descrição </label>
        <textarea 
        class="form-control" 
        placeholder="Descrição da camiseta" 
        formControlName="descrição"
        >
        </textarea>
      </div>
    </div>
    <div class="footer">
      <div class="buttons">
        <button class="btn-cancel" id="btn-cancel-back" (click)="Cancel()">Cancelar</button>
        <button class="btn-save" (click)="Save(camisetasMasculinasForm.value)">Salvar</button>
      </div>
    </div>
  </form>



