/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: "Amstrong";
    src: local(Amstrong)
}

.box:hover , .box-2:hover{
    transform: scale(1.04);
    transition: all 0.4s;
}

.box:not(hover), .box-2:not(hover) {
    transform: scale(1);
    transition: all 0.4s;
}

.ofertas .row {
    margin-top: 20px;
}

.green-snackbar {
    background-color: rgba(20, 158, 43, 0.945);
    color: white;
}

.mat-tooltip {
    font-size: small;
}

.red-snackbar {
    background-color: rgb(173, 27, 27, 0.945);
    color: white;
}

.content-masc-list {
    width: 100%;
    height: 100%;
}

.new-camiseta {
    background-color: rgb(29, 99, 250);
    padding: 7px 14px;
    color: white;
    border: solid rgba(0, 0, 0, 0) 1px;
    border-radius: 3px;
    margin: 10px 0px 15px 0px;
}

.new-camiseta:hover {
    background-color: rgb(0, 0, 0);
    transition: 0.6s;
}

.new-camiseta:not(:hover) {
    background-color:  rgb(29, 99, 250);
    transition: 0.4s;
}

.btn-edit {
    background-color: rgb(30, 189, 64);
    margin: 8px;
    padding: 4px 10px;
}

.btn-delete {
    background-color: rgb(29, 99, 250);
    padding: 4px 10px;
    margin: 8px;
}

.btn-edit, .new-camiseta, 
.btn-delete, .btn-delete-2{
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 0.25rem;
}

.btn-delete-2 {
    background-color: rgb(206, 37, 37);
    padding: 4px 10px;
    margin: 8px;
}

.content-header span {
    font-size: large;
}

.col-lg-4 {
    margin: 17px 0px;
}

a {
    text-decoration: none;
}

.box-2 {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    width: 280px;
    margin: auto;
}

.slide-img-2 {
    height: 310px;
    width: auto;
}

.slide-img-2 img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.card {
    border: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.card-body {
    padding: 0;
}

.detail-box-2 {
    width: 100%;
    display: flex;
    padding: 12px 15px;
    box-sizing: border-box;
    height: 100%;
}

.type-2 {
    display: flex;
    flex-direction: column;
    height: 160px;
    width: 100%;
}

.type-2 a {
    color: #0c0c0c;
    margin: 5px 0px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.type-2 span {
    margin: -5px 0px 5px 0px;
}

.price-2 {
    color: #333333;
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
