span {
    font-size: small;
}

:host ::ng-deep .required-label label::after {
    content: "*";
    color: red;
    font-size: 16px;
}

.has-error span{
    color: red;
    font-weight: 600;
}

:host ::ng-deep .has-error input,
:host ::ng-deep .has-error select {
    border-color: red;
}
  
.has-success span{
    color: rgb(37, 146, 37);
    font-weight: 600;
}


:host ::ng-deep .has-success input,
:host ::ng-deep .has-success select {
    border-color: rgb(37, 146, 37);
}
  